# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Logs
*.log

# Migrations (se usar Alembic)
migrations/

# Jupyter
.ipynb_checkpoints/

# Others
*.sqlite3
*.db
uploads/*.*
!uploads/.keep
